global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
- "alert.rules"

scrape_configs:
- job_name: 'liquidsoap'
  scrape_interval: 5s
  static_configs:
  - targets: ['liquidsoap:9090']

- job_name: 'cadvisor'
  scrape_interval: 5s
  static_configs:
  - targets: ['cadvisor:8080']

- job_name: 'prometheus'
  scrape_interval: 10s
  static_configs:
  - targets: ['localhost:9090']

- job_name: 'nodeexporter'
  scrape_interval: 5s
  static_configs:
  - targets: ['nodeexporter:9100']

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: 
      - 'alertmanager:9093'
